# API Keys
OPENAI_API_KEY=
GEMINI_API_KEY=12345
HF_TOKEN=12345

# Backend
BACKEND_BASE_URL=http://localhost:8000
API_KEY=12345

# PostgresSQL for RAG
RAG_DB_USER=
RAG_DB_PASSWORD=
RAG_DB_HOST=
RAG_DB_PORT=
RAG_DB_NAME=

# PostgreSQL for Usage Tracking (Optional)
USAGE_TRACKER_DB_HOST=
USAGE_TRACKER_DB_PORT=
USAGE_TRACKER_DB_NAME=
USAGE_TRACKER_DB_USER=
USAGE_TRACKER_DB_PASSWORD=

# Misc.
LOG_LEVEL=INFO
API_USERNAME=username
API_PASSWORD=password