# API Keys
OPENAI_API_KEY=
GEMINI_API_KEY=12345
HF_TOKEN=12345

# Backend
BACKEND_BASE_URL=http://localhost:8000
API_KEY=12345

# OpenSearch
OPENSEARCH_HOST=https://localhost:9200
OPENSEARCH_USERNAME=admin
OPENSEARCH_PASSWORD=Opensearch@123A

# PostgreSQL for Usage Tracking (Optional)
USAGE_TRACKER_DB_HOST=
USAGE_TRACKER_DB_PORT=
USAGE_TRACKER_DB_NAME=
USAGE_TRACKER_DB_USER=
USAGE_TRACKER_DB_PASSWORD=

# Misc.
LOG_LEVEL=INFO